<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- In milliseconds -->
    <add key="SampleSize" value="10000"/>
    <!-- Path including file name that you would like the audio to be output to -->
    <add key="WAVOutputPath" value="test.wav"/>
    <!-- File path of the wav file to compare to -->
    <add key="WAVInputPath" value="techno.wav"/>
    <!-- Length in seconds of the input wav file that is to be compared to -->
    <add key="WAVInputLength" value="17"/>
    <!-- Percentage at which quality is considered good (.5 and above is considered good quality) -->
    <add key="AudioPercentage" value="0.5"/>
    <!-- Number of times to try comparison in the event of a failure. -->
    <add key="Retries" value="3"/>
  </appSettings>
</configuration>