<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- In milliseconds -->
    <add key="SampleSize" value="5000"/>
    <!-- Path including file name that you would like the audio to be output to -->
    <add key="WAVOutputPath" value="test.wav"/>
    <!-- Path including file name that you would like the picture to be output to -->
    <add key="WAVOutputPath" value="test.wav"/>

  </appSettings>
</configuration>